*{
	text-decoration:none;
}
#header{
	display:flex;
}
#by{
	width:700px;
	margin:0 auto;
	background:#fbf8ef;
	border-radius:7px;
}
.show{
    width:100px;
    height:80px;
    background:#bbada2;
    margin-left:25px;
    text-align:center;
    color:white;
    font-weight:700;
    border-radius:7px;
    margin-top:20px;
}
.shows{
	display:flex;
	margin-left:300px;
}
.title{
    margin-left:30px;
}
#newgame{
    width:160px;
    height:50px;
    line-height:50px;
    text-align:center;
    background:#927963;
    font-size:19px;
    margin-left:480px;
    margin-top:50px;
    border-radius:7px;
}
#newgame a{
	color:white;
}
.title{
	color:#80766d;
}
#content{
    width:500px;
    height:500px;
    background:#beac9e;
    margin:30px auto;
    border-radius:7px;
    position:relative;
}
.grid-cell{
	width:100px;
	height:100px;
	border-radius:7px;
	background:#cdc1b5;
	position:absolute;
}
.number-cell{
   width:100px;
    height:100px;
    line-height:100px;
    text-align:center;
    border-radius:7px;
    background:#cdc1b5;
    position:absolute; 
    font-size:50px;
}
